{{ template "layout" .}}

{{ define "main" }}
	<div class="home" id="home">
		<div class="foto"></div>
		<h1>Ikhlash Mulyanurahman</h1>
		<p class="text" style="font-style: italic; font-size: 15px" >Selamat Datang di website pertama saya</p>
		<div class="sosmed">
		<a class="social-media-icon" href="https://facebook.com/ikhlash.mulyanurahman.54" target="_blank"><span class="fab fa-facebook"></span></a>
		<a class="social-media-icon" href="https://instagram/mlyarhmn.exe" target="_blank"><span class="fab fa-instagram"></span></a>
		<a class="social-media-icon" href="https://twitter.com/imulyaa_" target="_blank"><span class="fab fa-twitter"></span></a>
		<a class="social-media-icon" href="https://github.com/Ikhlashmulya" target="_blank"><span class="fab fa-github"></span></a>
	</div>
	</div>
	<br />
	<br />
	<br />
{{ end }}